body {
    background-color: orange;
}

div {
    color: blue;
}

.flexbox-container {
    display: flex;
    flex-direction: column;
}

.flexbox-item {
    margin: 5px;
    border: 2px solid blue;
    border-radius: 10px;
    background-color: gold;

}
.flexbox-item-1 {
    min-height: 50px;
    min-width: 110px;
    flex-shrink: 1;
}

.flexbox-item-2 {
    min-height: 50px;
    width: 290px;
    flex-shrink: 1;
}

.flexbox-item-3 {
    min-height: 300px;
    width: 500px;
    flex-shrink: 1;
}

.flexbox-item-4 {
    min-height: 330px;
    width: 190px;
    flex-shrink: 1;
}

.flexbox-item-5 {
    min-height: 30px;
    width: 170px;
    flex-shrink: 1;
}